@import "./base.css";

:root {
  --green: #40bc85;
  --slate: #242424;
  --dark: #1a1a1a;
  --gray: #898989;
  --light: #e1e1e1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
